<nav class="navbar navbar-expand-lg navbar-light bg-secondary flex-row ml-auto">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="">EmployeeApp</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end" >
        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary" routerLink="" style="font-weight: bolder" (click)="onOpenModal(null,'add')"> Add Emloyee </a>
        </li>
      </ul>
      <form class="d-flex" style="margin-left: 300px">
        <input class="form-control me-2" (click)="searchEmployee(key.value)" #key="ngModel" ngModel type="search" name="key" placeholder="Search ... " aria-label="Search">
        <button class="btn btn-outline-dark text-light pull-right" type="submit" style="margin-left: 10px">Search</button>
      </form>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end" >
        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary" style="font-weight: bolder; margin-left: 170px" (click)="onOpenModal(null,'login')" > Login </a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-danger" style="font-weight: bolder; margin-left: 20px" (click)="onOpenModal(null,'register')"> Register </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 50px" id="main-container">
  <div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let itr of employees">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{ itr?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{ itr?.name }}</h5>
            <p class="m-0">{{ itr?.jobTitle }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{ itr?.email }}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{ itr?.phone }}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onOpenModal(itr,'edit')">
              <i class="fa fa-pencil"></i> </a>
            <a href="#" class="btn btn-danger tooltips" style="margin-left: 5px" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onOpenModal(itr,'delete')">
              <i class="fa fa-times"></i></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->

<!-- Edit Modal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit">Edit <strong> {{updateEmployee?.name}}</strong>'s information </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- edit form column -->
          <div class="col-lg-8 push-lg-4 personal-info">
            <form #editForm = "ngForm">
              <input type="hidden" ngModel="{{ updateEmployee?.id }}" class="form-control" name="id" value="" />
              <input type="hidden" ngModel="{{ updateEmployee?.employeeCode }}" class="form-control" name="employeeCode" value="" />
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Name </label>
                <div class="col-lg-9">
                  <input ngModel="{{updateEmployee?.name}}" class="form-control" name="name" type="text" value="" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Email </label>
                <div class="col-lg-9">
                  <input ngModel="{{updateEmployee?.email}}" class="form-control" name="email" type="email" value="" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Job title </label>
                <div class="col-lg-9">
                  <input ngModel="{{updateEmployee?.jobTitle}}" class="form-control" name="jobTitle" type="text" value="" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Phone number </label>
                <div class="col-lg-9">
                  <input ngModel="{{updateEmployee?.phone}}" class="form-control" name="phone" type="text" value="" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Image Url </label>
                <div class="col-lg-9">
                  <input ngModel="{{updateEmployee?.imageUrl}}" class="form-control" name="imageUrl" type="text" value="" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="editEmployee(editForm.value)" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
        <hr />
      </div>

    </div>
  </div>
</div>

<!-- Add Modal -->

<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add">Add an employee </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-lg-8 push-lg-4 personal-info">
            <form role="form" [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Name </label>
                <div class="col-lg-9">
                  <input formControlName="name" name="name" class="form-control" type="text" value="" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Email </label>
                <div class="col-lg-9">
                  <input formControlName="email" name="email" class="form-control" type="email" value="" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Job title </label>
                <div class="col-lg-9">
                  <input formControlName="jobTitle" name="jobTitle" class="form-control" type="text" value="" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> Phone number </label>
                <div class="col-lg-9">
                  <input formControlName="phone" name="phone" class="form-control" type="text" value="" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeB2">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->

<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete"> Delete an employee </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Wanna really delete <strong>{{delete.name}}</strong> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary ui-icon-cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteEmployee(delete.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->

<div class="modal fade" id="loginEmployeeModal" tabindex="-1" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col text-center">
          <h1 class="text-muted" > Login </h1>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="log" class = "container" style="margin-bottom: 50px">

          <div class="col-12 mx-auto">

            <div class="wrapper shadow">

              <form class="form-signin">
                <hr class="colorgraph"><br>

                <input formControl="username" type="text" class="form-control" name="Username" placeholder="Username" required=""/>
                <br> <br>
                <input formControl="password" type="password" class="form-control" name="Password" placeholder="Password" required=""/>
                <br>

                <button class="btn btn-lg btn-outline-dark btn-block"  name="Submit" value="Login" type="Submit">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Register Modal -->

<div class="modal fade" id="registerEmployeeModal" tabindex="-1" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col text-center">
          <h1 class="text-muted" > Register </h1>
        </div>
        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <div class="row">

            <div class="col-12 mb-4 mx-auto">
              <hr>
              <section class="pr-1">

                <div class="card shadow">
                  <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" [formGroup]="registerEmployee" (ngSubmit)="register()" style="color: #757575;">

                      <div class="form-row" style="margin-top: 30px">
                        <div class="col">
                          <div class="md-form">
                            <input formControlName="name" type="text" id="materialRegisterFormFirstName" name="name" class="form-control" placeholder="Name">
                            <label for="materialRegisterFormFirstName"></label>
                          </div>
                        </div>
                      </div>

                      <div class="md-form mt-0">
                        <input formControlName="email" type="email" id="materialRegisterFormEmail" name="email" class="form-control" placeholder="E-mail">
                        <label for="materialRegisterFormEmail" class="active"></label>
                      </div>

                      <!-- Password -->
                      <div class="md-form">
                        <input formControlName="password" placeholder="Password" name="password" type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                        <label for="materialRegisterFormPassword" class="active"></label>
                        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                          At least 8 characters and 1 digit
                        </small>
                      </div>

                      <!-- Newsletter -->
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                        <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
                      </div>

                      <button class="btn btn-lg btn-outline-danger btn-block bs-popover-top" name="Submit" value="Login" type="Submit" style="margin-top: 10px"> Register </button>

                      <!-- Terms of service -->
                      <p>By clicking
                        <em>Sign up</em> you agree to our
                        <a href="" target="_blank">terms of service</a>

                      </p>

                    </form>

                  </div>

                </div>
              </section>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="employees?.length == 0">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> Sorry !</strong> No Employee (s)
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

